<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sns.like.mapper.LikeMapper">
    <select id="selectLikeByUserIdPostId" parameterType="map" resultType="com.sns.like.domain.Like">
        SELECT
            `userId`
            ,`postId`
            ,`filledLike`
            ,`createdAt`
        FROM
            `like`
        WHERE
            `userId` = #{userId}
            AND `postId` = #{postId}
    </select>
    <select id="selectLikeCountByPostId" parameterType="int" resultType="int">
        SELECT
            COUNT(*)
        FROM
            `like`
        WHERE
            `postId` = #{postId}
            AND `filledLike` = 1
    </select>
    <select id="selectLikeCountByUserIdPostId" parameterType="map" resultType="int">
        SELECT
            COUNT(*)
        FROM
            `like`
        WHERE
            `userId` = #{userId}
            AND `postId` = #{postId}
            AND `filledLike` = 1
    </select>
    <insert id="insertLikeByUserIdPostId" parameterType="map">
        INSERT INTO `like`
        (
            `userId`
            ,`postId`
            ,`filledLike`
            ,`createdAt`
        )
        VALUES
        (
            #{userId}
            , #{postId}
            , #{filledLike}
            , NOW()
        )
    </insert>
    <update id="updateLikeByUserIdPostId" parameterType="map">
        UPDATE `like`
        SET
            `filledLike` = #{filledLike}
        WHERE
            `userId` = #{userId}
            AND `postId` = #{postId}
    </update>
</mapper>