<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="contents d-flex justify-content-center">
        <div class="edit-box mt-3 w-50">
            <div class="m-3">
                <h2>정보수정</h2>
                <form id="editForm" method="post" action="/user/edit">
                    <div class="form-group m-0 mt-1">
                        <label for="loginId" class="m-0">아이디</label>
                        <div class="d-flex">
                            <input type="text" th:value="${user.loginId}" class="form-control" name="loginId" id="loginId" placeholder="아이디를 입력하세요.">
                            <button type="button" th:data-user-id="${session.userId}" class="btn loginIdCheckBtn" id="loginIdCheckBtn">중복확인</button>
                        </div>
                        <!-- 아이디 체크 결과 -->
                        <!-- d-none 클래스: display none (보이지 않게) -->
                        <div id="idCheckLength" class="small text-danger d-none">ID를 4자 이상 입력해주세요.</div>
                        <div id="idCheckDuplicated" class="small text-danger d-none">이미 사용중인 ID입니다.</div>
                        <div id="idCheckSame" class="small text-primary d-none">기존의 아이디입니다.</div>
                        <div id="idCheckOk" class="small text-success d-none">사용 가능한 ID 입니다.</div>
                    </div>
                    <label for="password" class="m-0">기존 비밀번호 (비밀번호 변경 시 입력)</label>
                    <div class="d-flex">
                        <input type="password" class="form-control" id="password" placeholder="기존의 비밀번호를 입력하세요.">
                        <button type="button" th:data-user-id="${session.userId}" class="btn passwordCheckBtn" id="passwordCheckBtn">확인</button>
                    </div>
                    <!-- d-none 클래스: display none (보이지 않게) -->
                    <div id="passwordCheckFalse" class="small text-danger d-none">비밀번호가 틀렸습니다.</div>
                    <div id="passwordCheckOk" class="small text-success d-none">변경하실 비밀번호를 입력해주세요.</div>
                    <div class="form-group m-0 mt-1">
                        <label for="newPassword" class="m-0">변경할 비밀번호</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="비밀번호를 입력하세요.">
                    </div>
                    <div class="form-group m-0 mt-1">
                        <label for="newPasswordCheck" class="m-0">변경할 비밀번호 확인</label>
                        <input type="password" class="form-control" id="newPasswordCheck" placeholder="비밀번호를 입력하세요.">
                    </div>
                    <div class="form-group m-0 mt-1">
                        <label for="name" class="m-0">이름</label>
                        <input type="text" th:value="${user.name}" class="form-control" id="name" name="name" placeholder="이름을 입력하세요.">
                    </div>
                    <div class="form-group m-0 mt-1">
                        <label for="email" class="m-0">이메일</label>
                        <input type="text" th:value="${user.email}" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요.">
                    </div>
                    <div class="d-flex justify-content-end mt-2">
                        <button type="submit" id="signUpBtn" class="btn w-25 sign-up-btn" name="signUp">정보수정</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script>
        $(function() {
            // 아이디 중복확인
            $("#loginIdCheckBtn").on("click", function() {
                // 문구 초기화
                $("#idCheckLength").addClass("d-none");
                $("#idCheckDuplicated").addClass("d-none");
                $("#idCheckOk").addClass("d-none");
                $("#idCheckSame").addClass("d-none");

                let loginId = $("#loginId").val().trim();
                console.log(loginId);

                if (loginId.length < 4) {
                    $("#idCheckLength").removeClass("d-none");
                    return;
                }

                $.ajax({
                    // request
                    url:"/user/is-duplicate-id"
                    , data:{"loginId":loginId}

                    // response
                    , success:function(data) {
                        if (data.code == 200) {
                            if (data.is_duplicate_id) {
                                $("#idCheckDuplicated").removeClass("d-none");
                            } else if (data.is_same) {
                                $("#idCheckSame").removeClass("d-none");
                            } else {
                                $("#idCheckOk").removeClass("d-none");
                            }
                        } else {
                            alert(data.error_message);
                        }
                    }
                    , error:function(e) {
                        alert("중복확인에 실패했습니다.");
                    }
                });
            });

            // 기존 비밀번호 확인
            $("#passwordCheckBtn").on("click", function () {
                // 문구 초기화
                $("#passwordCheckFalse").addClass("d-none");
                $("#passwordCheckOk").addClass("d-none");

                let password = $("#password").val().trim();

                $.ajax({
                    // request
                    url:"/user/check-password"
                    , data:{"password":password}

                    // response
                    , success:function(data) {
                        if (data.code == 200) {
                            if (data.check_password) {
                                $("#passwordCheckOk").removeClass("d-none");
                            } else {
                                $("#passwordCheckFalse").removeClass("d-none");
                            }
                        } else if (data.code == 403) {
                            alert(data.error_message);
                            location.href = "/user/sign-in-view";
                        } else {
                            alert("기존 비밀번호 확인에 실패했습니다.");
                        }
                    }
                    , error:function(e) {
                        alert("기존 비밀번호 확인에 실패했습니다. 관리자에게 문의해주세요.");
                    }
                });

            });

            // 정보수정
            $("#editForm").on("submit", function(e) {
                e.preventDefault();

                // validation
                let loginId = $("#loginId").val().trim();
                let newPassword = $("#newPassword").val();
                let newPasswordCheck = $("#newPasswordCheck").val();
                let name = $("#name").val().trim();
                let email = $("#email").val().trim();

                if ($("#idCheckOk").hasClass("d-none") && $("#idCheckSame").hasClass("d-none")) {
                    alert("아이디 중복확인을 해주세요.");
                    return false;
                }

                if ($("#passwordCheckOk").hasClass("d-none") == false) {
                    if (newPassword != newPasswordCheck) {
                        alert("변경할 비밀번호가 일치하지 않습니다.");
                        return false;
                    }
                } else {
                    if (!newPassword || !newPasswordCheck) {
                        alert("기존 비밀번호를 먼저 확인해주세요.");
                    }
                }

                // json 응답
                let url = $(this).attr("action");
                console.log(url);

                let params = $(this).serialize();
                console.log(params);

                return false;

                $.post(url, params)
                .done(function(data) {
                    if (data.code == 200) {
                        alert("정보가 수정되었습니다.");
                        location.href = "/timeline";
                    } else if (data.code == 403) {
                        alert(data.error_message);
                        location.href = "/user/sign-in-view";
                    } else {
                        alert(data.error_message);
                    }
                });
            });
        });
    </script>
</th:block>