<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="contents d-flex justify-content-center">
        <div class="sign-in-box w-25 mt-5">
            <div class="m-3 mt-5">
                <h2 class="pb-3">로그인</h2>
                <form id="loginForm" method="post" action="/user/sign-in">
                    <input type="text" class="form-control" name="loginId" id="loginId" placeholder="아이디를 입력하세요.">
                    <input type="password" class="form-control mt-2" name="password" id="password" placeholder="암호를 입력하세요.">
                    <div class="d-flex pt-3">
                        <a href="/user/sign-up-view" class="btn form-control sign-up-btn">회원가입</a>
                        <button type="submit" id="signInBtn" class="btn form-control sign-in-btn" name="signIn">로그인</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script>
        $(function() {
            // 로그인 버튼
            $("#loginForm").on("submit", function(e) {
                e.preventDefault();
                // alert("로그인");

                // validation
                let loginId = $("#loginId").val().trim();
                let password = $("#password").val();

                if (!loginId) {
                    alert("아이디를 입력하세요.");
                    return false;
                }

                if (!password) {
                    alert("비밀번호를 입력하세요.");
                    return false;
                }

                let url = $(this).attr("action");
                console.log(url);

                let params = $(this).serialize();
                console.log(params);

                // ajax
                $.post(url, params) // request
                .done(function(data) { // response
                    if (data.result == "성공") {
                        location.href = "/timeline";
                    } else {
                        alert(data.error_message);
                    }
                });
            });
        });
    </script>
</th:block>