<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="contents d-flex justify-content-center">
        <div class="sign-in-box w-25 mt-5">
            <div class="m-3 mt-5">
                <h2 class="pb-3">로그인</h2>
                <form method="post" action="/user/sign-in">
                    <input type="text" class="form-control" name="loginId" placeholder="아이디를 입력하세요.">
                    <input type="password" class="form-control mt-2" name="password" placeholder="암호를 입력하세요.">
                    <div class="d-flex pt-3">
                        <a href="/user/sign-up-view" class="btn form-control sign-up-btn">회원가입</a>
                        <button type="submit" id="signInBtn" class="btn form-control sign-in-btn" name="signIn">로그인</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</th:block>