header {
    height:100px;
    background-color:plum;
}

.contents {
    min-height:500px;
}

.main-logo, .main-logo:hover {
    color:black;
    text-decoration: none;
}

.user-btn, .user-btn:hover {
    color:black;
    text-decoration: none;
    pointer:cursor;
}

.sign-in-box {
    height:300px;
    border: solid 1px;
    border-color: plum;
    border-radius: 10px;
}

.sign-up-box {
    height:470px;
    border: solid 1px;
    border-color: plum;
    border-radius: 10px;
}

.sign-in-btn {
    background-color: plum;
}

.sign-up-btn {
    background-color:thistle;
}

footer {
    background-color:ghostwhite;
}

.table {
    font-size: 12px;
}

.loginIdCheckBtn {
    white-space: nowrap;
    background-color: plum;
}

.input-box {
    font-size:12px;
}

.log-in, .log-in:hover {
    color:black;
    text-decoration: none;
}

.contents-box {
    width:1000px;
}

.write-box {
    width:800px;
    height:150px;
    border: solid 1px;
    border-radius: 10px;
    border-color: gray;
}

textarea {
    border:none;
    border-radius:10px;
}

#uploadBtn {
    background-color: plum;
    size:5px;
}

.post-bar {
    background-color:lightgray;
}

.subscribe-btn {
    border: solid 1px;
    border-color:lightgray;
    background-color:white;
    border-radius:12px;
}

.unsubscribe-btn, .unsubscribe-btn:hover {
    border: solid 1px;
    border-color:gray;
    background-color:gray;
    border-radius:12px;
    color:white;
}

.comment-btn {
    white-space: nowrap;
    background-color: plum;
}

/* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.drop {
    width: 200px;
    background-color: plum;
    border: none;
    cursor: pointer;
}

.drop-options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .drop-options {
    display:block;
}

.drop-options a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-options a:hover {
    background-color:lightgray;
}