header {
    height:100px;
    background-color:plum;
}

.contents {
    min-height:500px;
}

.sign-in-box {
    height:300px;
    border: solid 1px;
    border-color: plum;
    border-radius: 10px;
}

.sign-up-box {
    height:470px;
    border: solid 1px;
    border-color: plum;
    border-radius: 10px;
}

.sign-in-btn {
    background-color: plum;
}

.sign-up-btn {
    background-color:thistle;
}

footer {
    background-color:ghostwhite;
}

.table {
    font-size: 12px;
}

.loginIdCheckBtn {
    white-space: nowrap;
    background-color: plum;
}

.input-box {
    font-size:12px;
}

.log-in, .log-in:hover {
    color:black;
    text-decoration: none;
}

.main-logo, .main-logo:hover {
    color:black;
    text-decoration: none;
}

.timeline {
    width:1000px;
}

.posting {
    width:800px;
    height:130px;
    border: solid 1px;
    border-radius: 10px;
    border-color: gray;
}

textarea {
    border:none;
    border-radius:10px;
}

#uploadBtn {
    background-color: plum;
    size:5px;
}